@use "../variables/colors" as *;
@use "../variables/media" as *;
@use "../variables/font" as *;
@use "../helpers/mixins" as *;

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $very_dark_blue;
  color: $white;
}

main {
  @include media("s-mobile") {
    padding: 20px;
  }
  .rating,
  .thanks {
    article {
      background: $bg_gradient;
      border-radius: 20px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 400px;
      .text {
        h1 {
          font: {
            size: $font-size + 14;
            weight: 600;
          }
          margin-bottom: 15px;
        }
        p {
          color: $light_grey;
          line-height: 1.5;
          font-size: $font-size;
        }
      }
    }
    @include media("s-mobile") {
      article {
        border-radius: 15px;
        gap: 20px;
        .text {
          h1 {
            font: {
              size: $font-size + 11;
              weight: 00;
            }
            margin-bottom: 15px;
          }
          p {
            color: $light_grey;
            line-height: 1.5;
            font-size: $font-size - 1;
          }
        }
      }
    }
  }
  .rating {
    article {
      .star {
        background-color: $dark_blue;
        padding: 10px;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        @include center;
      }
      ul {
        display: flex;
        justify-content: space-between;
        li {
          border-radius: 50%;
          background-color: $dark_blue;
          color: $light_grey;
          width: 50px;
          height: 50px;
          font-weight: 700;
          @include center;
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            background-color: $orange;
            color: $white;
          }
          &.selected {
            background-color: $light_grey;
            color: $white;
          }
        }
      }
      button {
        width: 100%;
        border: none;
        border-radius: 30px;
        padding: 14px;
        color: $white;
        background-color: $orange;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: 0.2s;
        cursor: pointer;
        font: {
          family: $font;
          size: $font-size;
        }
        &:hover {
          background-color: $white;
          color: $orange;
        }
      }
      @include media("s-mobile") {
        ul {
          li {
            width: 40px;
            height: 40px;
            font-size: $font-size - 1;
          }
        }
        button {
          padding: 12px;
        }
      }
    }
  }
  .thanks {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    article {
      min-height: 411.5px;
      @include media("s-mobile") {
        min-height: 380px;
      }
    }
    .text {
      @include center;
      flex-direction: column;
      p#selected-rate {
        padding: 5px 20px;
        color: $orange;
        background-color: $dark_blue;
        border-radius: 30px;
        width: fit-content;
        margin-bottom: 30px;
      }
      h2 {
        font: {
          size: $font-size + 14;
          weight: 600;
        }
        margin-bottom: 15px;
        @include media("s-mobile") {
          font-size: $font-size + 11;
        }
      }
    }
  }
}

footer {
  font-size: 14px;
  text-align: center;
  padding: 20px;
  width: 100%;
  font-weight: 500;
}
footer a {
  color: $orange;
}
