$white: #fff;
$off_blue: #3e52a3;
$light_shadow: rgba(0, 0, 0, 0.1);
$regular_shadow: rgba(0, 0, 0, 0.2);
$blue_shadow: rgba(16, 49, 182, 0.2);
$darker_shadow: rgba(0, 0, 0, 0.7);

$light_grey: hsl(217, 12%, 63%);
$medium_grey: hsl(216, 12%, 54%);
$dark_blue: hsl(213, 19%, 18%);
$very_dark_blue: hsl(216, 12%, 8%);
$bg_gradient: linear-gradient(to top, hsl(215, 27%, 12%), hsl(215, 20%, 17%));
$orange: hsl(25, 97%, 53%);
